.idea
/fixRepo.py
/resources/skins/Main/TexturePacker.exe
/resources/skins/Main/packtex.bat
/resources/skins/Main/1080i/script-plex-album.xml
/resources/skins/Main/1080i/script-plex-artist.xml
/resources/skins/Main/1080i/script-plex-episodes.xml
/resources/skins/Main/1080i/script-plex-listview-16x9.xml
/resources/skins/Main/1080i/script-plex-listview-square.xml
/resources/skins/Main/1080i/script-plex-music_current_playlist.xml
/resources/skins/Main/1080i/script-plex-music_player.xml
/resources/skins/Main/1080i/script-plex-photo.xml
/resources/skins/Main/1080i/script-plex-posters.xml
/resources/skins/Main/1080i/script-plex-posters-small.xml
/resources/skins/Main/1080i/script-plex-pre_play.xml
/resources/skins/Main/1080i/script-plex-seasons.xml
/resources/skins/Main/1080i/script-plex-seek_dialog.xml
/resources/skins/Main/1080i/script-plex-squares.xml
/resources/skins/Main/1080i/script-plex-playlist.xml